<header class="topbar">

 <button
  class="menu-btn"
  type="button"
  aria-label="Open navigation"
  (click)="toggleSidebar()"
>
  <span class="material-symbols-rounded">
    menu
  </span>
</button>

    <div class="header-greeting">
      <h1>
        👋 {{ greeting() }},
        {{ user()?.fullName || 'User' }}
      </h1>
  
      <p>
       
      </p>
    </div>

  <div class="topbar-actions">

    <button class="icon-btn">
      <span class="material-symbols-rounded">
        notifications
      </span>
    </button>

    <div class="profile-wrapper">

      @if (!user()) {

        <button
          class="login"
          (click)="loginToAccount()"
        >
          login
        </button>

      } @else {

        <button
          class="profile"
          (click)="toggleMenu()"
        >

          <div class="avatar">

            @if (avatarUrl()) {

              <img
                [src]="avatarUrl()!"
                alt="Profile"
              />

            } @else {

              <span>
                {{ initials() }}
              </span>

            }

          </div>

          <div class="profile-info">

            <span class="name">
              {{ user()?.fullName }}
            </span>

            <span class="role">
              {{ user()?.email }}
            </span>

          </div>

          <span class="material-symbols-rounded">
            expand_more
          </span>

        </button>

      }

      @if (menuOpen()) {

        <div class="profile-menu">

          <div class="menu-user">

            <div class="avatar big">

              @if (avatarUrl()) {

                <img
                  [src]="avatarUrl()!"
                  alt="Profile"
                />

              } @else {

                <span>
                  {{ initials() }}
                </span>

              }

            </div>

            <div>

              <strong>
                {{ user()?.fullName }}
              </strong>

              <p>
                {{ user()?.email }}
              </p>

            </div>

          </div>

          <hr />

          <button (click)="profile()">

            <span class="material-symbols-rounded">
              person
            </span>

            My Profile

          </button>

          <button (click)="settings()">

            <span class="material-symbols-rounded">
              settings
            </span>

            Settings

          </button>

          <hr />

          <button
            class="logout"
            (click)="logout()"
          >

            <span class="material-symbols-rounded">
              logout
            </span>

            Logout

          </button>

        </div>

      }

    </div>

  </div>

</header>
